<div class="form-group clearfix">
  <label class="col-md-2 control-label" for="additionUserJsonFields">{{:: 'additionUserJsonFields' | translate}}</label>
  <div class="col-md-6">
    <input class="form-control" id="additionUserJsonFields" type="text" ng-model="identityProvider.config.additionUserJsonFields">
  </div>
  <kc-tooltip>{{:: 'justauth.additionUserJsonFields.tooltip' | translate}}</kc-tooltip>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="ignoreCheckState">{{:: 'ignoreCheckState' | translate}}</label>
	<div class="col-md-6">
		<input ng-model="identityProvider.config.ignoreCheckState" id="ignoreCheckState" onoffswitchvalue on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
	</div>
	<kc-tooltip>{{:: 'justauth.ignore-check-state.tooltip' | translate}}</kc-tooltip>
</div>
