<div class="form-group clearfix">
	<label class="col-md-2 control-label" for="appKey"><span class="required">*</span> {{:: 'appKey' | translate}} </label>
	<div class="col-md-6">
		<input class="form-control" id="appKey" type="text" ng-model="identityProvider.config.appKey" required>
	</div>
	<kc-tooltip>{{:: 'dingtalk.appKey.tooltip' | translate}}</kc-tooltip>
</div>
<div class="form-group clearfix">
	<label class="col-md-2 control-label" for="appSecret"><span class="required">*</span> {{:: 'appSecret' | translate}} </label>
	<div class="col-md-6">
		<input class="form-control" id="appSecret" type="text" ng-model="identityProvider.config.appSecret" required>
	</div>
	<kc-tooltip>{{:: 'dingtalk.appSecret.tooltip' | translate}}</kc-tooltip>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="autoLoginDingTalkEnabled">{{:: 'autoLoginDingTalkEnabled' | translate}}</label>
	<div class="col-md-6">
		<input ng-model="identityProvider.config.autoLoginDingTalkEnabled" id="autoLoginDingTalkEnabled" onoffswitchvalue on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
	</div>
	<kc-tooltip>{{:: 'dingtalk.autoLoginDingTalkEnabled.tooltip' | translate}}</kc-tooltip>
</div>
<div data-ng-include data-src="resourceUrl + '/partials/realm-identity-provider-justauth-ext.html'"></div>
